# Every root table name is a different behavior
# Every member of root is the message content it should reply to.
[example.ok]
message = "OK"
delay = 0

# empty messages are not send
[example.null]
message = ""
delay = 0

[example.delay2]
message = "2s delay"
delay = 2

[example.delay5]
message = "5s delay"
delay = 5

[example.found]
message = "OK found in previous message"
delay = 1

# Conditional
# "if OK is present in previous message", execute <found> reply
# otherwise, execute <null> reply
# to be recognized as a conditional, it should not have a message member and have set if/then/else members
[example.cond1]
delay = 0
if = "ok"
then = "found"
else = "null"

# default case when there is not match
[example._]
message = "Non-case"

# ============================================================

# Tables ending on _hex, will have hex string encoded elements
[example_hex.hff0001]
message = "h74657374206e6f2064656c6179"
delay = 0

[example_hex.hff01]
message = "h000100"
delay = 0

[example_hex.hff05]
message = "h746573742035732064656c6179"
delay = 5

# default case when there is not match
[example_hex._]
message = "h4e6f6e2d62696e6172792d63617365"

# ============================================================

# Shimmer3 GSR Simulator

# Set sensors, Analog Accel, Gyro, GSR and PPG
[shimmer3gsr_hex.h08c40100]
message = "hff"
delay = 1

# Enable, expansion boarda internal power
[shimmer3gsr_hex.h5e01]
message = "hff"
delay = 0.5

# Set sampling frequency to 120Hz
# Little-endian, expressed as delay units 32768/120Hz = 273U, 0x0111
[shimmer3gsr_hex.h051101]
message = "hff"
delay = 0.8

# Start streaming data
[shimmer3gsr_hex.h07]
message = "hff"
delay = 1.4

# Stop streaming data
[shimmer3gsr_hex.h20]
message = "hff"
delay = 1.4

# Example streaming output, bytes: [0:1]packettype, [1:4]timestamp,
# [4:10] analog accel, [10:16] gyro, [16:18] GSR, [18:20] PPG
[shimmer3gsr_hex.h0001]
message = "h0001020300010002000300040005000600070008000900010002000300040005000600070008000980010001"
delay = 0.2

# ACK for any unmatched command
[shimmer3gsr_hex._]
message = ""
delay = 0